body {
    background-color: #333333;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}
.title {
    position: relative;
    color: aliceblue;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 42%;
}
img {
    position: relative;
    height: 25vh;
    width: auto;
    border-radius: 10%;
    cursor: pointer;
    padding: 20px;

}
video {
    height: 100%;
    width: 100%;

}
a {
    position: relative;
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 15%;

}